@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

.banner {
  /* position: fixed; */
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #0c131aec;
}

.banner::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: center / cover no-repeat;
  animation: img 20s ease-in-out infinite;
  background-image: url("../asstes/images/bg1.jpg"),
    url("../asstes/images/bg2.jpg"), url("../asstes/images/bg3.jpg");
}
@keyframes img {
  0%,
  13% {
    background-image: url("../asstes/images/bg1.jpg");
    transform: scale(1);
  }

  25% {
    transform: scale(1.2);
  }

  37%,
  49% {
    background-image: url("../asstes/images/bg2.jpg");
    transform: scale(1);
  }

  61% {
    transform: scale(1.2);
  }

  73%,
  85% {
    background-image: url("../asstes/images/bg3.jpg");
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}



/* input[type=radio]:checked ~ label {
  background-color: blue;
} */

.check:checked ~ .lableCheck{

  background-color: red !important;

}
/* .lableCheck{
  background-color: red;
} */